#calendario{
  height: 200px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
}

#agenda{
  height: 450px;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
}

.wrong{
  background: red;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #FFF;  /*Sets the text hover color on navbar*/
	background-color: #044B88;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; /*BACKGROUND color for active*/
background-color: #044B88;
}

.navbar-default {
	background-color: #337ab7;
    border-color: #337ab7;
}

.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus {
	color: #FFF;
	text-decoration: none;
	background-color: #337ab7;  /*change color of links in drop down here*/
}

.nav > li > a:hover,.nav > li > a:focus {
	text-decoration: none;
    background-color: silver; /*Change rollover cell color here*/
}


.navbar-default .navbar-nav > li > a {
	color: white; /*Change active text color here*/
}
