.jumbotron {
    width: 700px;
    height: 650px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#usuarios {
    margin-top: 15px;
}
.form-control {
    margin-bottom: 5px;
}
.selecionado {
    background-color: yellow;
}
.negrito {
    font-weight: bold;
}
