<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="../css/saveUser.css"></link>
    <script type="text/javascript" src="../js/db/ConnectionDatabase.js"></script>
    <script type="text/javascript" src="../js/db/UserDAO.js"></script>
    <script type="text/javascript" src="../js/models/User.js"></script>
   <!-- Alterar as linhas abaixo para incluir o script correto-->
    <script type="text/javascript" src="../js/controllers/SaveUserController.js"></script>
    <script type="text/javascript" src="../js/views/savePatient.js"></script>
    <title>Pagamento</title>
  </head>
  <body>
      <div class="jumbotron" style="height:200px">
          <h4>Novo Pagamento</h4>
          <div id="message"></div>
          <form>
              <div class="col-xs-4"><input class="form-control" type="text" id="cpf" placeholder="CPF"/></div>
              <div class="col-xs-6"><input class="form-control" type="text" id="name" placeholder="Paciente" disabled/></div>
              <div class="col-xs-4" style=" margin-top: 5px;"><input class="form-control" type="date" id="payday"/></div>
              <div class="col-xs-4" style=" margin-top: 5px;"><input class="form-control" type="number" id="pValue" step="0.01"/></div>

          </form>
          <button class="btn btn-primary" id="btn-find">Localizar</button>
          <div class="pull-right" style="padding-right: 20px; margin-top: 5px;"><button class="btn btn-success" id="btn-confirm">Confirmar</button></div>
          <div class="pull-right" style="padding-right: 20px; margin-top: 5px;"><button class="btn btn-danger" id="btn-cancel">Cancelar</button></div>

      </div>
  </body>
