<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="../css/saveUser.css"></link>
    <link rel="stylesheet" type="text/css" href="../css/main.css"></link>
    <title>Cadastro de Paciente</title>
  </head>
  <body>
    <!--header-->
    <div class="container" style="margin-top:20px;">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="hidden-xs">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="#"><img alt="Brand" src="../imgs/documents/tooth-outline.png" height="30" width="30"/></a></li>
            <li ><a class="navbar-brand visible-lg" href=""  style="padding: 0px 15px 0px 0px">
                <h5>SIAO</h5>
                <h6>Sistema de Apoio Ondotológico  </h6>
              </a>
            </li>
            <li><a href="main.html">Agenda</a></li>
            <li class="active"><a href="savePatient.html">Cadastro de Pacientes</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Atendimento<span class="caret"/></a>
              <ul class="dropdown-menu">
                <li><a href="diagnostic.html">Diagnóstico</a></li>
                <li><a href="#">Pagamento</a></li>
                <li><a href="#">Relátório de Atendimento</a></li>
              </ul>
            </li>
          </ul>
          </div>
          <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Olá <span id="nome-usuario"></span> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="saveUser.html">Novo Funcionário</a></li>
              <li><a href="login.html" onclick="logout()">Sair</a></li>
            </ul>
          </li>
        </ul>
        </div>
      </nav>
    </div>
    <!--body-->
    <div class="jumbotron">
      <h4>Cadastro de Paciente</h4>
      <div id="message"></div>
        <form >
          <div class="col-xs-10">
            <input class="form-control" type="text" id="localizar" placeholder="Quem você procura? ex.: Fulano de tal" />
          </div>

          <div class="col-xs-12"><input class="form-control" type="text" id="nome" placeholder="Nome" /></div>
          <div class="col-xs-5"><input class="form-control" type="text" id="cpf" placeholder="CPF" /></div>
          <div class="col-xs-7"><input class="form-control" type="text" id="rua" placeholder="Rua" /></div>
          <div class="col-xs-4"><input class="form-control" type="text" id="numero" placeholder="Telefone" /></div>
          <div class="col-xs-5"><input class="form-control" type="text" id="distrito" placeholder="Bairro" /></div>
          <div class="col-xs-3"><input class="form-control" type="text" id="CEP" placeholder="CEP" /></div>
          <div class="col-xs-7"><hidden type="text" id="senha" placeholder="Senha" value="1234" /></div>
          <div class="col-xs-3"><hidden type="text" id="papel" value="4"/></div>
        </form>
        <button class="btn btn-primary" id="btn-find">Localizar</button>
        <button class="btn btn-primary" id="btn-save">Adicionar Usuário</button>
        <button class="btn btn-success" id="btn-update">Atualizar Usuário</button>
        <button class="btn btn-danger" id="btn-delete">Apagar Usuário</button>
        <button class="btn" id="btn-clean">Limpar Campos</button><br/><br/>

        <div class="col-xs-12" style="overflow:auto; height:220px;">
          <table class="table table-striped"  id="usuarios">
            <thead>
              <tr>
                  <th></th>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Rua</th>
                  <th>Número</th>
                  <th>CEP</th>
              </tr>
            </thead>
            <tbody></tbody>
        </div>
    </div>
    <!--scripts-->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="../lib/jquery/jquery.min.js"></script>
    <script src="../lib/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/db/ConnectionDatabase.js"></script>
    <script type="text/javascript" src="../js/db/UserDAO.js"></script>
    <script type="text/javascript" src="../js/models/User.js"></script>
    <script type="text/javascript" src="../js/controllers/SaveUserController.js"></script>
    <script type="text/javascript" src="../js/views/savePatient.js"></script>
    <script>if (window.module) module = window.module;</script>
  </body>
</html>
