<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../lib/bootstrap/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="../css/saveUser.css"></link>
    <script type="text/javascript" src="../js/db/ConnectionDatabase.js"></script>
    <script type="text/javascript" src="../js/db/UserDAO.js"></script>
    <script type="text/javascript" src="../js/models/User.js"></script>
    <script type="text/javascript" src="../js/controllers/SaveUserController.js"></script>
    <script type="text/javascript" src="../js/views/savePatient.js"></script>
    <title>Cadastro de Paciente</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <ul class="nav navbar-nav">
            <li class="active"><a href="main.html">Home</a></li>
          </ul>
          <p class="navbar-text navbar-right" >Olá <span id="nome-usuario"></span> </p>
        </div>
      </nav>
    </div>
    <div class="jumbotron">
      <h4>Cadastro de Paciente</h4>
      <div id="message"></div>
        <form >
          <div class="col-xs-10">
            <input class="form-control" type="text" id="localizar" placeholder="Quem você procura? ex.: Fulano de tal" />
          </div>

          <div class="col-xs-12"><input class="form-control" type="text" id="nome" placeholder="Nome" /></div>
          <div class="col-xs-5"><input class="form-control" type="text" id="cpf" placeholder="CPF" /></div>
          <div class="col-xs-7"><input class="form-control" type="text" id="rua" placeholder="Rua" /></div>
          <div class="col-xs-4"><input class="form-control" type="text" id="numero" placeholder="Telefone" /></div>
          <div class="col-xs-5"><input class="form-control" type="text" id="distrito" placeholder="Bairro" /></div>
          <div class="col-xs-3"><input class="form-control" type="text" id="CEP" placeholder="CEP" /></div>
          <div class="col-xs-7"><hidden type="text" id="senha" placeholder="Senha" value="1234" /></div>
          <div class="col-xs-3"><hidden type="text" id="papel" value="4"/></div>
        </form>
        <button class="btn btn-primary" id="btn-find">Localizar</button>
        <button class="btn btn-primary" id="btn-save">Adicionar Usuário</button>
        <button class="btn btn-success" id="btn-update">Atualizar Usuário</button>
        <button class="btn btn-danger" id="btn-delete">Apagar Usuário</button>
        <button class="btn" id="btn-clean">Limpar Campos</button><br/><br/>

        <div class="col-xs-12" style="overflow:auto; height:220px;">
          <table class="table table-striped"  id="usuarios">
            <thead>
              <tr>
                  <th></th>
                  <th>Nome</th>
                  <th>CPF</th>
                  <th>Rua</th>
                  <th>Número</th>
                  <th>CEP</th>
              </tr>
            </thead>
            <tbody></tbody>
        </div>
    </div>
  </body>
</html>
